#formAdmin {
  .preview {
    position: relative;
    .wrapper-preview {
      position: absolute;
      top: 0px;
      width: 100%;
      background-color: white;
      z-index: 10;
      left: 0;
      height: 0px;
      overflow: hidden;
      &.active {
        height: auto;
      }
    }
  }

  .columns {
    width: 100%;
  }
  .section {
    @include mobile {
      padding: 0px;
    }
    .panel-block {
      @include mobile {
        padding: 1px;
      }
      &.submit {
        justify-content: center;
        @include mobile {
          padding: 5px 1px;
        }
      }
    }
    .card-content {
      margin: 10px 5px 15px 5px;
      padding: 10px 3px 10px 3px;
    }
  }
  .formConfiguration {
    .columns {
      margin: 0.2rem !important;
      @include mobile {
        margin: 0rem !important;
        padding: 2px 0.5rem;
      }
      .column {
        @include mobile {
          padding: 0.25rem !important;
        }
      }
    }
  }
  .form-content {
    width: 100%;
    display: flex;
    align-items: center;
    @include mobile {
      padding: 0px !important;
    }
    .columns {
      width: 100%;
      margin: 0px !important;
      @include mobile {
        padding: 0px !important;
      }
      .column {
        @include mobile {
          padding: 0px !important;
        }
        &.buttonInputs {
          @include mobile {
            padding: 5px !important;
          }
        }
      }
    }
    .itemsForm.container {
      max-width: 100%;
      width: 100% !important;
      @include mobile {
        padding: 0px !important;
      }
      /** ITEMS */
      .itemForm.card {
        .card-header {
          background-color: rgba(#1f9ced, 0.1);
          justify-content: flex-end;
          &-title {
            padding: 0.25rem 0.75rem;
          }
          &-icon {
            padding: 0.25rem;
          }
        }
      }
      .itemForm {
        width: 100%;
        @include mobile {
          padding: 0px !important;
        }
        &-content {
          @include mobile {
            padding: 0px !important;
          }
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          &-field {
            @include mobile {
              padding: 0px !important;
            }
            width: 50%;
            min-width: 280px;
          }
        }

        &.SelectControl {
          .options-section {
            width: 100%;
            margin: 0px;
            padding: 1px;
            @include mobile {
              border: 1px solid rgba(200, 200, 200, 0.4);
            }
            @include tablet {
              margin: 10px 5px;
              padding: 5px;
              //border-radius: 5px;
            }
            &-content {
              @include tablet {
                border: 1px solid rgba(200, 200, 200, 0.4);
              }
            }

            &-header {
              margin: 0px;
              .level-left + .level-right {
                @include mobile {
                  margin-top: 0.25rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
